
html,body{
	height: 100%;
	margin: 0;
}

body{
	display: flex;
	justify-content: center;
	align-items: center;
}
.timer {
	width: 90%;

}
.timer > div{
	width: 100%;
	height: 49vh;
	margin: 0 auto 0;
	background: #333;
	display: flex;
	justify-content: center;
	align-items: center;
}

.timer__body{
	color: #fff;
	font-size: 30px;
}
.first__button{
	transform: rotate(180deg);
}
._active{
	color: #000;
	background-color: #fe3 !important;
}
